*{
    box-sizing: border-box;
}
body{
margin: 0;
padding: 0;
background-color: rgb(238, 215, 5);}
nav{
   display: flex;
}

a{
   display: block;
   width: 100px;
   height: 50px;
background-color: rgb(5, 165, 240);
margin: 5px;
border-radius: 12px;
text-align: center;

}

section{
    display: flex;
    justify-content: center;
}
h1{
    text-align: center;
}
main{
    display: flex;
}